body {
  font-family: RobotoDraft, Roboto, proximanova, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #e0e0e0;
  line-height: 150%;
  font-size: 14px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

table {
  border-collapse: collapse;
}

div#top {
    position: fixed;
    top: 0px;
    left: 0px;

	width: 100%;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:25px;
	margin-bottom: 20px;

    border-bottom-width: 1px;
    border-bottom-color: #C8C8C8;
    border-bottom-style: solid;

    z-index: 2;
}

div#main {
	margin: 0px;
}

div#footer {
	margin-top: 10px;
	color: black;
	text-alignment: center;
    margin-bottom: 25px;
}

div.card {
    font-size: 20px;

	margin: 10px;
	background-color: white;
	color: black;
	width: 80%;

	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;

    border-width: 1px;
    border-color: #C8C8C8;
    border-style: solid;

	text-align: left;
}

div.card_holder {

}

div.spacerdiv {
    z-index:0;
    height:60px;
    width:100%;
}
