body {
  font-family: RobotoDraft, Roboto, proximanova, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #e0e0e0;
  line-height: 150%;
  font-size: 14px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

table {
  border-collapse: collapse;
}

#top {
	width: 100%;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:25px;
	margin-bottom: 20px;
}

#main {
}

#footer {
  color: black;
  text-alignment: center;
  margin-top: 20px;
}