body {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  background-color: #666666;
  line-height: 150%;
  font-size: 18px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

table {
  border-collapse: collapse;
}

#main {
	background-color: #BBBBBB;
	width: 500px;
}

#footer {
  color: #FFFFFF;
  text-alignment: center;
  margin-top: 30px;
}