body {
  font-family: Proxima Nova, RobotoDraft, Roboto, proximanova, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #e0e0e0;
  line-height: 150%;
  font-size: 14px;
}

th, td {
	padding-right: 15px;
}

iframe#book-frame {
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;
	width:99.5%;
	height:400px;
}

div#top {
    position: fixed;
    top: 0px;
    left: 0px;
	z-index: 999;

	width: 100%;
	background-color: rgba(256,256,256,0.7);
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	line-height: 140%;

    border-bottom-width: 1px;
    border-bottom-color: #C8C8C8;
    border-bottom-style: solid;
}

div#spacer {
    z-index:0;
    height:76px;
    width:100%;
    background-color: white;
}

div#footer {
	margin-top: 10px;
	color: black;
    margin-bottom: 25px;
	text-align: center;
}

div#facebook-card {
	background-color:#3b5998;
	color: white;
	font-weight: bold;
	border-width: 0px;
}

div#photos-card {
	background-color:#bb0000;
	color: white;
	font-weight: bold;
	border-width: 0px;
}

ul#links-list {
	padding-bottom:0px;
	padding-top: 0px;
}

table#contact-table {

}

img#fb-logo {
	position: relative;
	height: 61px;
	top: -20px;
	left: 20px;
	float: right;
	border-width: 0px;
}

img#film-icon {
	position: relative;
	height: 61px;
	top: -20px;
	left: 20px;
	float: right;
	border-width: 0px;
}

.it {
	font-style: italic;
}

div.tohide {
	padding-top: 15px;
	font-size: 15px;
}

div.card {
    font-size: 20px;
	margin: 10px;
	background-color: white;
	color: black;
	width: 90%;
	text-align: left;

	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
    border-width: 1px;
    border-color: #C8C8C8;
    border-style: solid;
}

h3.link-header {
	font-weight: normal;
	font-size: 17px;
}

a:link.cardlink, a:visited.cardlink,
a:hover.cardlink, a:active.cardlink,
a:link.nostyle, a:visited.nostyle,
a:hover.nostyle, a:active.nostyle {
	text-decoration: inherit;
	color: inherit;
}
